@model PaymentDetails
@{
    ViewData["Title"] = "Transfer Money";
}


<div class="container" style="margin-top:100px">
    <div class="card">
        <div class="px-3 py-3">
            <div class="row">
                <div class="col-md-3"></div>

                <div class="col-md-6">
                    <div class="currency-row-outer px-3 py-3">
                        <div class="currency-converter">
                            <h2>Currency Converter</h2>

                            <form asp-controller="TransferMoney" asp-action="Transfer" method="post">
                                <div class="row justify-content-center">
                                    <div class="col-md-8 col-sm-6 mb-2">
                                        <input type="number" asp-for="Transfer_Amount" value="1" class="form-control" id="number" placeholder="00000" oninput="updatevalue()">
                                    </div>

                                    <div class="col-md-8 col-sm-6 mt-3 mb-2">
                                        <select class="currency form-control" asp-for="Transfer_Currency_Type" onchange="updatevalue()"></select>
                                    </div>

                                    <div class="col-md-8 col-sm-6 mt-3 mb-2">
                                        <i class="bi bi-arrow-left-right" style="color:green;font-size:25px;"></i>
                                    </div>

                                    <div class="col-md-8 col-sm-6 mt-3 mb-2">
                                        <select class="currency form-control" asp-for="Payout_Currency_Type" readonly>
                                            <option value="NPR">NPR (Nepalese Rupee)</option>
                                        </select>
                                    </div>

                                    <input type="hidden" class="form-control" asp-for="Exchange_Rate" />
                                    <input type="hidden" class="form-control" asp-for="Unit" />

                                    <div class="col-md-8 col-sm-6 mt-3 mb-3">
                                        <input type="text" class="form-control" asp-for="Payout_Amount" id="output" placeholder="0.00" readonly>
                                    </div>

                                    <div>
                                        <button type="button" class="btn btn-md btn-outline-primary" onclick="updatevalue()">
                                            <i class="bi bi-arrow-clockwise" style="font-size:15px"></i> Convert
                                        </button>
                                    </div>

                                    <div id="currencyMessage" class=" py-3 px-3 mt-5">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @{
        <script src="~/js/currencycheck.js"></script>
    }
}
